.admin-container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Flexibilidad de contenedor */
.options-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

/* Ancho de tarjetas*/
.menu-card {
    background: #ffffff;
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
    border-top: 6px solid #3A31D8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.card-icon {
    font-size: 4rem;
    margin-bottom: 20px;
}

.menu-card h3 {
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: #1a1a1a;
}

.btn-action {
    background-color: #3A31D8;
    color: white;
    border: none;
    padding: 12px 0;
    width: 100%;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-action:hover {
    background-color: #2a22a5;
}